/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff4700;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff672b;
}